{% load staticfiles %}

<html>
<body>
  <!DOCTYPE html>
  <html>
  <head>
  <meta charset="utf-8">
  <title>::: XX Communications 보안패치 관리 :::</title>
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

  <img src="{% static 'img/SKcomms_logo.png' %}" width="240" height="56" vspace="20" hspace="22">
  </head>


  <body>
  <!-- Top Menu(상단고정) -->
  <nav>
      <ul class="dropmenu">
          <li><a href="#">Server</a>
              <ul>
                  <li><a href="#">Ubuntu</a></li>
                  <li><a href="#">RedHat</a></li>
                  <li><a href="#">Windows</a></li>
              </ul>
          </li>
          <li><a href="#">Network</a>
              <ul>
                  <li><a href="#">Cisco</a></li>
                  <li><a href="#">Juniper</a></li>
              </ul>
          </li>
          <li><a href="#">DBMS</a>
              <ul>
                  <li><a href="#">Oracle</a></li>
                  <li><a href="#">MSSQL</a></li>
                  <li><a href="#">MySQL</a></li>
              </ul>
          </li>
           <li><a href="#">Security System</a>
              <ul>
                  <li><a href="#">FW</a></li>
                  <li><a href="#">IDS</a></li>
                  <li><a href="#">VPN</a></li>
                  <li><a href="#">WAF</a></li>
                  <li><a href="#">Anti-DDoS</a></li>
              </ul>
           <li><a href="#">WAS</a>
              <ul>
                  <li><a href="#">Tomcat</a></li>
              </ul>
          </li>
      </ul>
  </nav>


  <div class="main_header">
      <div class="main_header_first">
          <h1>SECURITY SYSTEM<br>
          <small>:: Vulnerability Patch Information ::</small>
          </h1>
      </div>
  </div>
  <!--/ Top Menu(상단고정) -->

  <!--<aside>
      <nav class="side_menu">
      <ul>
          <li>Ubuntu</li>
      </ul>
      </nav>
  </aside>-->

  <!-- Content -->

  <article class="content">

  <br><p>
  <div align="center">
  <table class="main_tb">
      <caption>｜업데이트 리스트</caption>
      <colgroup>
          <col width="120px">
          <col width="200px">
          <col width="120px">
          <col width="260px">
      </colgroup>
      <thead>
          <tr>
              <th>장비명</th>
              <th>취약점명</th>
              <th>CVE</th>
              <th>업데이트 버전</th>
          </tr>
      </thead>


          <tbody>
              {% for post in posts %}
                <tr>
                    <td>
                      <div>
                        {{ post.title }}
                      </div></td>
                    <td>{{ post.vname }}</td>
                    <td>{{ post.cve }}</td>
                    <td>{{ post.text }}</td>
                </tr>
                {% endfor %}
            </tbody>
  </table>
  </div>

  </article>
  <!--/ Content -->

  <!-- Footer(하단 고정) -->
  <footer class="footer">
  	<div class="container">
  		<div class="text-muted">&copy; 2017 XX communications</div>
  	</div>
  </footer>
  <!--/ Footer(하단 고정) -->
  </body>
  </html>

  </body>
  </html>
